/target
.DS_Store

# Ignore test output, but not the expected output
/test/*/*.pdf
!/test/*/*-expected.pdf
/test/**/*.lst

# Don't commit font files in case they are licensed. 
# Open source fonts can always manually be added.
*.ttf
*.otf

# Ignore build time reports
cargo-timing*.html
